<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACT3d4PMbsg2WvHpYUFvIEN0HxRrUJ9Ng</string>
	<key>GCM_SENDER_ID</key>
	<string>630136307356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ctrlfreaks.sidequest</string>
	<key>PROJECT_ID</key>
	<string>side-quest-8ecea</string>
	<key>STORAGE_BUCKET</key>
	<string>side-quest-8ecea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630136307356:ios:c02ca7bb6f5f741829f759</string>
</dict>
</plist>